@import "tailwindcss";

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .animate-scroll {
    animation: scroll 40s linear infinite;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@font-face {
  font-family: 'ui-sans';
  src: url('../assets/fonts/uisans.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

*{
  letter-spacing: -0.015em;
}
